
*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body {
    min-height: 100vh;
}
nav {
    background-color: white;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(9, 163, 130);
}
nav a:hover{
    background-color: #f0f0f0;
    height:fit-content
    
}

.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow:-10px 0 10px black;
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidbar li{
    width: 100%;
}
.sidebar a {
    width:100%
}
.menu-button {
    display: none;
}
@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display:block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}



